<!doctype html>
<html>
 <head>
  <title> Trader Web </title>
 </head>
 <body>
  <div>The Trade Page</div>
  <a href="tradeStock">Trade Stock</a>
  <a href="showBlotter">Show Blotter</a>
  <a href="showPL">Show P/L</a>
  <a href="reset">Reset Data</a>
  <div>Stock Selection</div>
  <br>
  <form action="/conductTrade" method="post">
  <input list="ticker" name="stockChosen">

	<datalist id="ticker">
     {% for i in ticker[1:] %}
      <option value="{{i}}">
     {% endfor %}
	</datalist> </input>
    
  <input type="submit" value="Trade Stock"></input>
  
  </form>
</select>
 </body>
</html>